doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="css/style.min.css")
    link(href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700%7CRoboto+Slab:400,700,600" rel="stylesheet")
    script(src="js/jquery-3.3.1.js")
    script(src="js/script.js")
    script(src="js/yandex-metrika.js")
    title Портфолио HTML-верстальщика
  body
    include ../blocks/main.pug
    block main-content
    include ../blocks/footer.pug