doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="css/libs.css")
    link(rel="stylesheet" type="text/css" href="css/style.min.css")
    link(href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700%7CRoboto+Slab:400,700,600" rel="stylesheet")
    script(src="js/yandex-metrika.js")
    title Портфолио HTML-верстальщика
  body
    include ../blocks/header.pug
    include ../blocks/main.pug
    block main-content
      //- include ../blocks/about.pug
      include ../blocks/verstka.pug
      include ../blocks/portfolio.pug
      include ../blocks/feedback.pug
      include ../blocks/popup.pug
    //- include ../blocks/footer.pug
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="js/libs.js")
    script(src="js/script.js")