section.about
  h2.about__title Обо мне
  div.about__container
    img.about__img(src="img/20180421_164628.jpg")
    div.about__info
      p.about__text Меня зовут Руч Катя.<br>Я студентка магистратуры по направлению 09.04.02 «Информационные системы и технологии»<br>с профилем «ИТ в дизайне» в СПбГУТ. 
      p.about__text Ранее изучала UX/UI-дизайн, сейчас углубляюсь в frontend-разработку.