section.footer
  ul.social
    a.social__link.social__link_github(href="https://github.com/katyaruch") GitHub
    a.social__link.social__link_vk(href="https://vk.com/k_ruch") Vk
    a.social__link.social__link_e-mail(href="mailto:katya.ruch@gmail.com") E-mail
  p.footer__address г. Санкт-Петербург