header.header
  div.container
    a.logo(href="/katyaruch.github.io") Katya Ruch
    button.gamburger-menu Навигация
    nav.navigation.gamburger-menu__list(tabindex="-1")
      a.gamburger-menu__close Закрыть
      a.navigation__link.gamburger-menu__link Обо мне
      a.navigation__link.gamburger-menu__link(href="#verstka") Качество
      a.navigation__link.gamburger-menu__link(href="#portfolio") Мои работы