section.main
  h1.main__title HTML-верстальщик
  ul.main__skills-list
    li Верстаю по актуальным критериям качества,
    li Использую препроцессоры PUG и LESS,
    li Именую классы по методологии БЭМ,
    li Умею верстать кроссбраузерно и адаптивно,
    li Соблюдаю Pixel Perfect, 
    li Понимаю важность семантической вёрстки, 
    li Проверяю код на валидность.
    li Знаю основы JS
  a.button(href="#portfolio" id="button-portfolio") Посмотреть мои работы
  ul.social
    a.social__link.social__link_github(href="https://github.com/katyaruch") GitHub
    a.social__link.social__link_vk(href="https://vk.com/k_ruch") Vk
    a.social__link.social__link_e-mail(href="mailto:katya.ruch@gmail.com") E-mail