section.main.container
  h1.main__title Portfolio
  ul.main__skills-list
    li html
    li css
    li pug
    li less
    li BEM
  a.button.button-portfolio(href="#portfolio" id="button-portfolio") Ознакомиться
  //- div.social
  //-   a.social__link.social__link_github(href="https://github.com/katyaruch") GitHub
  //-   a.social__link.social__link_vk(href="https://vk.com/k_ruch") Vk
  //-   a.social__link.social__link_e-mail(href="mailto:katya.ruch@gmail.com") E-mail