div.popup#popup_thanks
  div.popup__content 
    p Спасибо, ваше сообщение отправлено :)
    p.popup__close Закрыть

div.popup#popup_fail
  div.popup__content 
    p Что-то пошло не так, напишите мне на адрес <b> katya.ruch@gmail.com </b>
    p.popup__close Закрыть