section.portfolio(id="portfolio")
  h2.title Мои работы
  //- p.portfolio__text Здесь собраны мои свёрстанные учебные макеты.
  div.swiper-container
    ul.portfolio__list.swiper-wrapper
      li.portfolio__item.swiper-slide
        a(href="/pages/sea-cruises").portfolio__link
          img.portfolio__img(src="img/MacBook-cruises.png" width="450" height="260" alt="Морские круизы")
        div
          p.portfolio__name Морские круизы
          p.portfolio__info Сайт по продаже морских круизов
      li.portfolio__item.swiper-slide
        a(href="/pages/device").portfolio__link
          img.portfolio__img(src="img/iMac-device.png" width="380" height="315" alt="Device")
        div
          p.portfolio__name Device
          p.portfolio__info Макет интернет магазина электронных гаджетов
      li.portfolio__item.swiper-slide
        a(href="/pages/be-latte").portfolio__link
          img.portfolio__img(src="img/iMac-latte.png" width="380" height="315" alt="Be Latte")
        p.portfolio__name Be Latte
        p.portfolio__info Макет сайта кофейни
      li.portfolio__item.swiper-slide
        a(href="/pages/animal-shelter").portfolio__link
          img.portfolio__img(src="img/iMac-shelter.png" width="380" height="315" alt="Animal Shelter")
        p.portfolio__name Animal Shelter
        p.portfolio__info Макет сайта приюта для животных
      li.portfolio__item.swiper-slide
        a.portfolio__link
          img.portfolio__img(src="img/iMac-hero.png" width="380" height="315" alt="Hero")
        p.portfolio__name Hero
        p.portfolio__info Макет сайта-портфолио
      li.portfolio__item.swiper-slide
        a(href="/pages/cardly").portfolio__link
          img.portfolio__img(src="img/iMac-cardly.png" width="380" height="315" alt="Cardly")
        p.portfolio__name Cardly
        p.portfolio__info Макет адаптивного сайта
    //- div.swiper-pagination
    //- div.swiper-button-next
    //- div.swiper-button-prev