section.portfolio.container
  h2.portfolio__title(id="portfolio") Портфолио
  p.portfolio__text Здесь собраны мои свёрстанные учебные макеты.
  ul.portfolio__list
    li.portfolio__item
      a(href="/sea-cruises").portfolio__link
        img.portfolio__img(src="img/MacBook cruises.png" width="653" height="378")
      div
        p.portfolio__name Морские круизы
        ul.portfolio__info
          li именование классов по БЭМ,
          li с иполльзованием less, pug,
          li собран с помощью gulp,
          li адаптивный
    li.portfolio__item
      a(href="/device").portfolio__link
        img.portfolio__img(src="img/iMac device.png" width="555" height="458")
      div
        p.portfolio__name Device
        p.portfolio__info Макет интернет магазина электронных гаджетов, который я защитила на курсе в HTML-Академии.
        ul.portfolio__info
          li всплывающие окна на js,
          li вёрстка проходит тест на переполнение контентом,
          li все интерактивные элементы доступны при фокусе с клавиатуры
    li.portfolio__item
      a(href="/be-latte").portfolio__link
        img.portfolio__img(src="img/iMac latte.png")
      p.portfolio__name Be Latte
      p.portfolio__info Макет сайта кофейни
    li.portfolio__item
      a(href="/animal-shelter").portfolio__link
        img.portfolio__img(src="img/iMac shelter.png")
      p.portfolio__name Animal Shelter
      p.portfolio__info Макет сайта приюта для животных
    li.portfolio__item
      a(href="#").portfolio__link
        img.portfolio__img(src="img/iMac hero.png")
      p.portfolio__name Hero
      p.portfolio__info Макет сайта-портфолио
    li.portfolio__item
      a(href="/cardly").portfolio__link
        img.portfolio__img(src="img/iMac cardly.png")
      p.portfolio__name Cardly
      p.portfolio__info Макет адаптивного сайта