section.verstka#verstka.container
  h2.title Критерии качества вёрстки
  dl.verstka__norms
    dt.verstka__norm Единообразное написание кода
    dd.verstka__descr Единый стиль написания и форматирования кода облегчает его понимание и дальнейшую поддержку, а также упрощает взаимодействие нескольких человек при разработке
    dt.verstka__norm Валидность
    dd.verstka__descr HTML-код в полной мере соответствует всем правилам и стандартам Консорциума Всемирной Паутины - World Wide Web Consortium (W3C). Документ проходит проверку на валидность validator.w3.org
    dt.verstka__norm Кроссбраузерность
    dd.verstka__descr Вёрстка идентично отображается в последних версиях браузеров Chrome, Opera, Firefox, Safari, а также в Internet Explorer 10+ 
    dt.verstka__norm Оптимизация
    dd.verstka__descr Оптимизация архитектуры проекта с использованием препроцессоров LESS, PUG, автоматизация сборки проекта с помощью GULP.
    dt.verstka__norm Адаптивность
    dd.verstka__descr Правильное отображение сайта с любого устройства, независимо от размера экрана