.main {
  padding: 180px 0 100px;

  color: #333333;
  // background-image: url(../img/bg.jpg);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__title {
    margin: 0 0 65px;
    font-weight: 400;
    
    font-size: 96px;
    text-align: center;
    text-transform: uppercase;

    @media @mobile {
      margin: 0 0 20px;
      font-size: 60px;
    }
  }

  &__skills-list {
    display: flex;
    justify-content: center;

    max-width: 405px;
    margin: 0 auto 70px;
    padding-left: 0;

    // text-align: left;
    text-transform: uppercase;

    li {
      margin-bottom: 15px;
      list-style: none;
      padding: 0 10px;
    }

    @media @mobile {
      margin-bottom: 40px;
    }
  }
}