.portfolio {
  &__text {
    margin: 0 0 60px 0;
    text-align: center;
  }

  &__list {
    display: flex;
    // min-width: 100%;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // align-items: flex-end;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 0 10px 40px 10px;

    font-size: 16px;
    font-weight: 200;
    text-align: center;

    &:nth-child(1),
    &:nth-child(7),
    &:nth-child(13) {

      .portfolio__link::after {
        top: 18px;
        left: 55px;

        width: 340px;
        height: 212px;
      }
    }

    @media @mobile {
      &:nth-child(1),
      &:nth-child(7),
      &:nth-child(13) {

        .portfolio__link::after {
          top: 14px;
          left: 96px;

          width: 260px;
          height: 162px;
        }
      }
    }
  }

  &__img {
    @media @mobile {
      width: 345px;
      height: auto;
    }
  }

  &__link {
    position: relative;

    &::after {
      display: block;
      position: absolute;
      content: "";
      top: 14px;
      left: 50px;

      width: 350px;
      height: 200px;
      background-color: #330033;
      background-image: url("../img/icons8-приблизить-90.png");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;

      @media @mobile {
        top: 14px;
        left: 67px;
        width: 317px;
        height: 180px;
      }
    }
  }

  &__link:hover::after {
    opacity: 0.5;
  }

  &__name {
    margin: 20px 0;
  }

  &__info {
    margin: 0 0 20px;
    padding: 0;
    // max-width: 458px;

    list-style: none;
  }
}